In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
weather = pd.read_csv('./fullweather.csv')

In [3]:
weather['Local time in Jeju (airport)'] = pd.to_datetime(weather['Local time in Jeju (airport)'], format='%Y-%m-%d %H:%M', errors='raise')
weather['Date'] = weather['Local time in Jeju (airport)'].dt.date
weather['WW'][weather['WW'].notnull()] = 1
weather['WW'][weather['WW'].isnull()] = 0
weather['WW'] = pd.to_numeric(weather['WW'])

C:\Users\mllab\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\mllab\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [4]:
temp_rain = weather.groupby('Date',as_index=False).mean()
temp_rain.rename(columns={'WW':'rain'},inplace=True)
temp_rain['Date'] = temp_rain['Date'].astype(str)

In [5]:
data = pd.read_csv('fulldata.csv', encoding='euc-kr')
data.drop(['year','month'],axis=1,inplace=True)

In [6]:
place = pd.read_csv('station.csv', encoding='euc-kr')

In [7]:
data['Xpos'] = None
data['Ypos']= None

#위치 추가
for i in range(len(data)):
    for j in range(len(place)):
        if(data['rent_station'].iloc[i] == place['id'].iloc[j]):
            data['Xpos'].iloc[i] = float(round(place['x_pos'].iloc[j],3))
            data['Ypos'].iloc[i] = float(round(place['y_pos'].iloc[j],3))

C:\Users\mllab\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
data['Xpos'] = data['Xpos'].astype('float')
data['Ypos'] = data['Ypos'].astype('float')

In [9]:
NineSector_data = data.copy()
TwoSector_data = data.copy()
OneSector_data = data.copy()
FourSector_data = data.copy()
OneSector_data['Sector'] = 0

In [10]:
def preprocessing(data):
    data['rent_date'] = pd.to_datetime(data['rent_date'], format='%Y-%m-%d %H:%M:%S', errors='raise')
    data['year'] =data['rent_date'].dt.year
    data['month'] =data['rent_date'].dt.month
    data['day'] =data['rent_date'].dt.day
    data['day_name'] = data['rent_date'].dt.day_name()
    data = data.sort_values(by='rent_date')
    data['rent_date'] = data['rent_date'].astype(str)
    data['T'] = None
    data['rain'] = None
    return data

In [11]:
def temp_rain_preprocessing(data,length,temp_length):
    for i in range(temp_length):
        for j in range(length):
            if(data['rent_date'].iloc[j] == temp_rain['Date'].iloc[i]):
                data['T'].iloc[j] = temp_rain['T'].iloc[i]
                data['rain'].iloc[j] = temp_rain['rain'].iloc[i]
                if(data['rain'].iloc[j]>0):
                    data['rain'].iloc[j] = 0
                else:
                    data['rain'].iloc[j] = 1
    data['T'] = data['T'].astype(int)
    data['rent_date']=pd.to_datetime(data['rent_date'])
    return data

In [12]:
def weekend_weekday_preprocessing(data,length):
    data['weekend'] = None
    for i in range(length):
        if(('Friday' == data['day_name'].iloc[i]) or ('Saturday'== data['day_name'].iloc[i]) or ('Sunday' == data['day_name'].iloc[i])):
            data['weekend'].iloc[i] = 1
        else:
            data['weekend'].iloc[i] = 0

    data['weekend']=data['weekend'].astype(int)
    return data

In [13]:
def dummy_preprocessing(data):
    data['weekday'] = data['rent_date'].dt.weekday
    data = pd.get_dummies(data,columns=['weekday'])
    data = pd.get_dummies(data,columns=['month'])
    data = pd.get_dummies(data,columns=['year'])
    return data

In [14]:
def WholePreprocessing(data):
    data = data.groupby(['rent_date','Sector'],as_index=False).sum()
    length = len(data)
    temp_length = len(temp_rain)
    data = preprocessing(data)
    data = temp_rain_preprocessing(data,length,temp_length)
    data = weekend_weekday_preprocessing(data,length)
    data = dummy_preprocessing(data)
    data.drop(['day_name','Xpos','Ypos'],axis=1,inplace=True)
    return data

In [22]:
data.head(30)

     rent_date  rent_number rent_station  day   day_name     Xpos    Ypos
0   2019-04-16            1   EVS_000003   16    Tuesday  126.922  33.470
1   2019-04-20            2   EVS_000001   20   Saturday  126.499  33.518
2   2019-04-21            2   EVS_000001   21     Sunday  126.499  33.518
3   2019-04-24            2   EVS_000003   24  Wednesday  126.922  33.470
4   2019-04-25            3   EVS_000003   25   Thursday  126.922  33.470
5   2019-04-26            4   EVS_000001   26     Friday  126.499  33.518
6   2019-04-26            3   EVS_000003   26     Friday  126.922  33.470
7   2019-04-27            5   EVS_000001   27   Saturday  126.499  33.518
8   2019-04-28            1   EVS_000001   28     Sunday  126.499  33.518
9   2019-04-28            2   EVS_000003   28     Sunday  126.922  33.470
10  2019-04-29            2   EVS_000003   29     Monday  126.922  33.470
11  2019-04-30            5   EVS_000003   30    Tuesday  126.922  33.470
12  2019-05-01            2   EVS_000002    1  Wednesday  126.394  33.485
13  2019-05-02            2   EVS_000001    2   Thursday  126.499  33.518
14  2019-05-02            2   EVS_000002    2   Thursday  126.394  33.485
15  2019-05-03            2   EVS_000001    3     Friday  126.499  33.518
16  2019-05-04            4   EVS_000001    4   Saturday  126.499  33.518
17  2019-05-04            2   EVS_000004    4   Saturday  126.536  33.244
18  2019-05-05            2   EVS_000001    5     Sunday  126.499  33.518
19  2019-05-05            2   EVS_000004    5     Sunday  126.536  33.244
20  2019-05-06            2   EVS_000001    6     Monday  126.499  33.518
21  2019-05-07            6   EVS_000001    7    Tuesday  126.499  33.518
22  2019-05-08            4   EVS_000001    8  Wednesday  126.499  33.518
23  2019-05-09            2   EVS_000001    9   Thursday  126.499  33.518
24  2019-05-09            2   EVS_000003    9   Thursday  126.922  33.470
25  2019-05-10            1   EVS_000001   10     Friday  126.499  33.518
26  2019-05-10            2   EVS_000002   10     Friday  126.394  33.485
27  2019-05-11            6   EVS_000001   11   Saturday  126.499  33.518
28  2019-05-12            5   EVS_000001   12     Sunday  126.499  33.518
29  2019-05-14            6   EVS_000003   14    Tuesday  126.922  33.470

In [16]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import explained_variance_score
from sklearn.metrics import make_scorer, mean_squared_error,r2_score
from sklearn.model_selection import cross_val_score
from math import sqrt
import lightgbm as lgb
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
from mlens.ensemble import BlendEnsemble
from sklearn.linear_model import LinearRegression
from mlens.ensemble import SuperLearner

[MLENS] backend: threading

In [18]:
from scipy.signal import savgol_filter
def Smoothing(data):
    x = data['rent_number'].to_numpy()
    x = savgol_filter(x, 5, 2)
    data['rent_number'] = x
    data['rent_number'] = data['rent_number'].astype(int)
    return data

In [19]:
OneSector_data = OneSector_data.groupby(['rent_date','Sector'],as_index=False).sum()
OneSector_data = WholePreprocessing(OneSector_data)
OneSector_data = Smoothing(OneSector_data)

C:\Users\mllab\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)